.mobile {
	display: none;
}

.pc {
	display: block;
}

@media (max-width: 768px) {
	#real-time {
		font-size: 1rem;
	}

	.mobile {
		display: block;
	}

	.pc {
		display: none;
	}

	#toast-prompt {
		width: 90% !important;
		left: 5% !important;
		padding: 16px !important;
		line-height: 24px !important;
	}
	.left-cont,
	.right-cont {
		margin-bottom: 5px;
		width: 100% !important;
		position: relative;
		flex-direction: column;
	}

	.confirm-btn,
	.close-btn {
		width: 100% !important;
		text-align: center !important;
	}
}

@media (max-width: 1023px) {
	#real-time {
		font-size: 1.2rem;
	}
	#toast-prompt {
		flex-direction: column;
		padding: 12px 3rem;
	}
}
