#real-time,
#waiting-loader span {
	font-weight: 600;
}

#real-time {
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 2rem;
	padding: 1rem;
}

#toast-prompt {
	position: fixed;
	bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	column-gap: 50px;
	padding: 12px 18px;
	border-radius: 18px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	background: rgba(255, 255, 255, 0);
	z-index: 999;
}

#toast-prompt .left-cont,
#toast-prompt .right-cont {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.confirm-btn {
	color: #fff;
	background-color: #293592;
	border-radius: 50px;
}
.close-btn {
	color: #b1b8c6;
}
.close-btn,
.confirm-btn {
	padding: 5px 15px;
	transition: filter 0.3s ease;
}
.close-btn:hover,
.confirm-btn:hover {
	filter: brightness(90%);
}

/* #toast-prompt {
	animation: slideUp 3s ease-in-out;
}
@keyframes slideUp {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
} */
